<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>3</ApplicationRevision>
    <ApplicationVersion>1.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>80562CF95102E1608A2A63B20A731AE223B86ED5</ManifestCertificateThumbprint>
    <ManifestKeyFile>Globe.Client.Localizer_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Localizer</ProductName>
    <PublishDir>D:\Task_Installer\ClickOnceUltraLocalizer\</PublishDir>
    <PublishUrl>D:\Task_Installer\ClickOnceUltraLocalizer\</PublishUrl>
    <PublisherName>Esaote</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net5.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\ultra-localizator.it.esaote.priv\IdentityServer\wwwroot\NewVersion\</UpdateUrl>
    <WebPageFileName>Publish.htm</WebPageFileName>
    <History>False|2021-04-21T07:44:43.8190752Z;True|2021-04-21T09:41:08.6846212+02:00;True|2021-04-21T09:25:19.1224351+02:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.5.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 5.0.4 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>