<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Globe-UltraLocalizer" value="https://pkgs.dev.azure.com/antpass79/UltraLocalizer/_packaging/Globe-UltraLocalizer/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>