<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="Development"/>
    <add key="Schema" value="https://"/>

    <!--Development-->

    <add key="DevelopmentLoginBaseAddress" value="localhost:44317/api/"/>

    <add key="DevelopmentLocalizableStringBaseAddress" value="localhost:44360/api/" />
    <add key="DevelopmentLocalizableStringBaseAddressRead" value="localhost:44360/api/read/" />
    <add key="DevelopmentLocalizableStringBaseAddressWrite" value="localhost:44360/api/write/" />
    
    <add key="DevelopmentNotificationHubAddress" value="localhost:44360/NotificationHub" />
          
    <!--Production-->

    <add key="ProductionLoginBaseAddress" value="Ultra-Localizator.it.esaote.priv:6000/api/"/>

    <add key="ProductionLocalizableStringBaseAddress" value="Ultra-Localizator.it.esaote.priv:5000/api/" />
    <add key="ProductionLocalizableStringBaseAddressRead" value="Ultra-Localizator.it.esaote.priv:5000/api/read/" />
    <add key="ProductionLocalizableStringBaseAddressWrite" value="Ultra-Localizator.it.esaote.priv:5000/api/write/" />

    <add key="ProductionNotificationHubAddress" value="Ultra-Localizator.it.esaote.priv:5000/NotificationHub" />

  </appSettings>
</configuration>