<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="Development"/>
    <add key="Schema" value="https://"/>

    <!--Development-->

    <add key="DevelopmentApplicationDownloadAddress" value="localhost:6001/download/"/>
    <add key="DevelopmentIdentityBaseAddress" value="localhost:6001/api/"/>

    <add key="DevelopmentLocalizableStringBaseAddress" value="localhost:5001/api/" />
    <add key="DevelopmentLocalizableStringBaseAddressRead" value="localhost:5001/api/read/" />
    <add key="DevelopmentLocalizableStringBaseAddressWrite" value="localhost:5001/api/write/" />
    
    <add key="DevelopmentNotificationHubAddress" value="localhost:5001/NotificationHub" />
          
    <!--Production-->

    <!--<add key="ProductionApplicationDownloadAddress" value="Ultra-Localizator.it.esaote.priv:6001/download/"/>
    <add key="ProductionIdentityBaseAddress" value="Ultra-Localizator.it.esaote.priv:6001/api/"/>

    <add key="ProductionLocalizableStringBaseAddress" value="Ultra-Localizator.it.esaote.priv:5001/api/" />
    <add key="ProductionLocalizableStringBaseAddressRead" value="Ultra-Localizator.it.esaote.priv:5001/api/read/" />
    <add key="ProductionLocalizableStringBaseAddressWrite" value="Ultra-Localizator.it.esaote.priv:5001/api/write/" />

    <add key="ProductionNotificationHubAddress" value="Ultra-Localizator.it.esaote.priv:5001/NotificationHub" />-->

    <!--Azure-->

    <add key="ProductionApplicationDownloadAddress" value="ultralocalizator.azurewebsites.net/download/"/>
    <add key="ProductionIdentityBaseAddress" value="ultralocalizator.azurewebsites.net/api/"/>

    <add key="ProductionLocalizableStringBaseAddress" value="ultralocalizer-localization.azurewebsites.net/api/" />
    <add key="ProductionLocalizableStringBaseAddressRead" value="ultralocalizer-localization.azurewebsites.net/api/read/" />
    <add key="ProductionLocalizableStringBaseAddressWrite" value="ultralocalizer-localization.azurewebsites.net/api/write/" />

    <add key="ProductionNotificationHubAddress" value="ultralocalizer-localization.azurewebsites.net/NotificationHub" />

  </appSettings>
</configuration>