@page "/download"
@inherits DownloadDataModel

<h1>Download</h1>

<p>Download the last version of UltraLocalizer.</p>

<div class="row">
    <div class="input-group col-md-3">
        <div class="input-group-append">
            <a class="fa fa-download" target="_blank" href="/api/application" />
        </div>
    </div>
</div>